#holdings-container button {
    margin-left: 5px;
}

#holdings-container.archive,
#holdings-container.archive .holding {
    margin: 0;
    display: inline;
}

#delivery_cart_wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    z-index: 999;
    display: none;
    width: 300px;
}

th.item-name, th.item-remove {
    font-weight: bold;
}

#delivery_cart_wrapper h3, #delivery_cart_wrapper h5 {
    margin-top: 1px;
    background: #73A1C7;
    color: white;
    padding: 3px;
    margin-bottom: 0;
    width: 100%;
    font-weight: bold;
}

.item-pid {
    display: none;
}

#delivery_cart {
    font-size: small;
}

.deliveryReserveButton {
    border: 1px solid #39a8ff;
    background-color: #ffffff;
}

.deliveryReserveButton:hover {
    border: 1px solid #62c5eb;
    background: #ccf;
}

.deliveryReserveButton {
    font-size: small;
}

.reservationCart, .reproductionCart {
    background-color: #e5eCf9;
    margin-top: 5px;
    padding: 1px;
}

.reservationCart_checkout, .reproductionCart_checkout {
    border: 1px solid #39a8ff;
    background-color: #ffffff;
    margin: 1px;
}

.reservationCart_checkout:hover, .reproductionCart_checkout:hover {
    border: 1px solid #62c5eb;
    background: #ccf;
}

.reservationCart_empty, .reproductionCart_empty {
    border: 1px solid #39a8ff;
    background-color: #ffffff;
    margin: 1px;
}

.reservationCart_empty:hover, .reproductionCart_empty:hover {
    border: 1px solid #62c5eb;
    background: #ccf;
}

.reservationCart_items table, .reproductionCart_items table {
    width: 100%;
    border-collapse: collapse;
    border-color: #003399;
}

#delivery_cart {
    padding: 1px;
}

#delivery_cart .item-remove {
    text-align: center;
}

#delivery_cart th {
    background-color: #e5eCf9;
}

#delivery_cart th, td {
    text-align: left;
    padding: 2px;
}

#delivery_cart .odd {
    background-color: #f9f4f2;
}

#delivery_cart .even {
    background-color: #ffffff;
}

.deliveryStatReserved, .deliveryStatUsageRestriction, .deliveryStatClosed {
    color: #D10018;
}

.deliveryStatRestricted {
}

.deliveryResponseText {
    margin-left: 10px;
}

