#teaser {
  p {
    text-align: center;
  }

  img {
    cursor: pointer;
  }
}

#arch {
  padding: 2em 1.5em 0 1.5em;

  h2 {
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 25px;

    &:first-child {
      padding-top: 0;
    }
  }

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 25px;
  }

  h4 {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 25px;
  }

  h5 {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 25px;
  }

  table {
    tr {
      border-collapse: collapse;
    }

    th, td {
      vertical-align: top;
    }

    th {
      width: 120px;
      text-align: left;
      color: #666;
      padding: .3em 0 .3em 0;
      border-bottom: 1px solid #f3f3f3;
    }

    td {
      padding: .3em 22px .3em 1em;
      border-bottom: 1px solid #f3f3f3;
    }
  }

  .kfile,
  .kitem {
    float: left;
  }

  @media (max-width: @screen-sm-max) {
    .vfile,
    .kitem {
      margin-left: 40px;
    }

    .vitem {
      margin-left: 80px;
    }
  }

  @media (min-width: @screen-md-min) {
    .vfile,
    .kitem {
      margin-left: 100px;
    }

    .vitem {
      margin-left: 200px;
    }
  }

  .b {
    color: #000000;
  }
}

/*.appendices ul {
  border-radius: 3px 3px 3px 3px;
  list-style: none;
  padding-left: 25px;
  padding-bottom: 25px;
}*/