@import "bootprint";
@import "iish-variables";
@import "iish-icons";
@import "ead";
@import "navigation";
@import "eci";

header {
  margin-top: 0;

  .navbar {
    border-radius: 0;

    .navbar-brand {
      background: no-repeat center;

      @media (max-width: 350px) {
        max-width: 100%;
        background-size: contain;
      }

      @media (min-width: 351px) and (max-width: @screen-xs-max) {
        width: 250px;
        background-size: contain;
      }

      &.en {
        background-image: url('../../images/IISG-logo-en.jpg');

        @media (min-width: @screen-sm-min) {
          width: 314px;
          background-size: contain;
        }
      }

      &.nl {
        background-image: url('../../images/IISG-logo-nl.jpg');

        @media (min-width: @screen-sm-min) {
          width: 342px;
          background-size: contain;
        }
      }
    }
  }

  .navbar-form {
    .radio,
    .checkbox {
      display: block;
      margin: 12px 0 0 3px;
    }
  }

  .sub-header {
    margin-top: 8px;
    font-weight: bold;
    color: @iish-logo-color;
  }
}

div.main {
  .container {
    border-radius: 0 0 10px 10px;
  }
}

footer {
  margin: 0;
  font-size: 90%;

  .container {
    border: none;
    background-color: transparent;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }
}

#delivery_cart_wrapper {
  text-align: center;

  h3 {
    font-size: 120%;
  }
}

#searchForm_type,
#searchForm_lookfor {
  border: 1px solid @input-border;
}

#messageOfTheDay,
.searchHomeContent {
  float: none;
  margin: 3em auto;
  width: 90%;
}

.homeFacets.row {
  margin-left: 10px;
  margin-right: 10px;

  .facetList {
    max-height: 250px;
    overflow: hidden;
  }

  .lead {
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 5px;

    /*// For now a workaround to handle too long lines in the lead in the Dutch language
    &.nl {
      min-height: 45px;
      height: 45px;
    }*/
  }

  ul {
    margin-bottom: 0;
  }
}

.search-cloud {
  width: 100%;
  height: 150px;
}

#messageOfTheDay,
.homeFacets {
  & .lead {
    color: @link-color;
    font-size: 110%;
    font-weight: bold;
    margin: 0 0 10px;
  }
}

@media (max-width: @screen-xs-max) {
  [name="searchForm"] {
    .btn-primary,
    .form-control {
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
}

.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    font-weight: bold;
    color: @dropdown-link-color;
  }
}

.recordTabs > li > a {
  background-color: @nav-tabs-link-hover-border-color;
  border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
}

h2,
.lead {
  font-size: 24px;
  margin: 10px 10px 20px;
  line-height: 1;
}

.table {
  table-layout: auto;
  font-size: 90%;

  th {
    color: @btn-primary-color;
    font-style: normal;
    font-weight: normal;
  }
}

.group {
  &.well {
    margin: 20px 0;
  }

  [class^="col-"] {
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
  }
}

.slider-container {
  .slider {
    .slider-track {
      .slider-handle {
        border: 1px solid @border-color;
        background-color: @brand-primary;
      }
    }
  }
}

.record-well {
  margin: 0;

  .nav-pills {
    text-align: center;

    > li {
      float: none;
      display: inline-block;
    }
  }

  .pager {
    margin: 10px 0 0;

    li {
      & > a,
      & > span {
        border: none;
        margin: 5px 0;
        display: inline;
        background-color: transparent;
      }
    }
  }
}

.holding {
  margin-bottom: 25px;

  .callnumber {
    display: inline;
  }

  .state {
    display: inline;
    margin-left: 10px;
  }
}

.tags {
  margin-bottom: 25px;
}

#itemhide {
  margin-top: 20px;

  ul {
    padding-left: 5px;
  }
}

.form-inline {
  .btn.btn-default {
    margin-bottom: 5px;
  }
}

.mets-embedded {
  background: url("../../images/ajax_spinner.gif") no-repeat center;
  height: 550px;
  margin: 1em 0 1em 0;

  // Mets viewer full screen fix
  .mets-layout-full-screen-page,
  .mets-layout-full-screen-thumbnail {
    position: fixed !important;
  }
}

.result {
  .downloadable {
    margin-bottom: 10px;
  }

  .savedLists {
    margin-top: 10px;
  }
}

.search-controls .form-inline {
  margin-bottom: 5px;
}

.audio-container {
  margin: 0 8px 20px;
}

.row.grid-container > .grid > .inner-grid {
  padding: 3px;
  border: 1px solid @list-group-border;
  border-radius: 3px;
}

.sidebar .list-group-item,
.top-row {
  .badge a {
    margin-left: 2px;
  }
}

.form-group.required .control-label:after {
  color: red;
  content: "*";
  margin-left: 5px;
}